@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');

/* Dark Theme */
/* :root {
  --background: #001233;
  --font: #eae7dd;
  --button: #ff595a;
  --secondary: #efcb68;
   --tr: #119da4;
  --four: #5c677d;
  --five: #bfa181;
} */

/* Light Theme */
:root {
  --background: #eae7dd;
  --font: #001233;
  --button: #ff006e;
  --secondary: #efcb68;
  --tr: #119da4;
  --four: #5c677d;
}

@font-face {
  font-family: 'Creme';
  src: url(./font/Creme\ Espana.otf) format('opentype');
}

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--font);
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

nav {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* HEADER */
#header {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 0.62rem 10%;
}

/* NAVBAR */
.logo {
  color: var(--button);
  font-family: 'Playfair Display', serif;
  font-size: 3.75rem;
  font-weight: 600;
  letter-spacing: 3px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.62rem 1.25rem;
}

nav ul li a {
  color: var(--five);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  /* background: var(--font-color); */
  background: var(--button);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* HEADER CONTAINER */
.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-image {
  height: 308px;
}

.header-image img {
  height: 100%;
}

.header-text {
  color: var(--four);
  margin-top: 10%;
  font-size: 1.9rem;
}

.header-text h1 {
  font-size: 3.75rem;
  margin-top: 1.25rem;
}

.header-text h1 span {
  /* color: var(--primary-color); */
  color: var(--font);
  /* font-family: 'Creme'; */
  /* font-family: 'Stalemate', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  /* **font-family: 'Great Vibes', cursive; */
  /* *font-family: 'Allura', cursive; */
  /* font-family: 'Parisienne', cursive; */
  /* font-family: 'Pinyon Script', cursive; */
  /* **font-family: 'Style Script', cursive; */
  /* **font-family: 'Qwitcher Grypen', cursive; */
  /* *font-family: 'Comforter', cursive; */
  /* **font-family: 'Waterfall', cursive; */
  /* **font-family: 'Carattere', cursive; */
  /* *font-family: 'Jim Nightshade', cursive; */
  font-family: 'Whisper', cursive;
  /* ***font-family: 'Beau Rivage', cursive; */
  /* ***font-family: 'The Nautigal', cursive; */
  /* ****font-family: 'Island Moments', cursive; */
  /* ***font-family: 'Petemoss', cursive; */
  font-size: 140px;
  /* font-style: italic; */
  font-weight: 400;
}

/* ABOUT */
#about {
  padding: 80px 0;
  color: var(--font);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 20px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--font-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--font-color);
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
