* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Light Theme */
:root {
  --color-background: #eae7dd;
  --color-font: #001233;
  --color-button: #ff006e;
  --color-secondary: #efcb68;
  --color-secondary-font: #5c677d;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-background);
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  color: var(--font);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-button);
  padding: 0 8rem;
}

section {
  width: 100%;
  padding: 3rem 18rem;
}

.sec2 {
  background-color: blue;
}

.sec3 {
  background-color: burlywood;
}

.sec4 {
  background-color: chocolate;
}

.controls {
  position: fixed;
  top: 50%;
  right: 3%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
}
.controls .active-btn {
  background-color: var(--color-button) !important;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-font) !important;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-secondary-font);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-background);
  pointer-events: none;
}

/* Header-Content */
.header-content {
  height: 100%;
  margin: auto;
}
.header-content .header-container {
  display: flex;
  padding-top: 4rem;
  gap: 8rem;
}
.header-content .logo {
  color: var(--button);
  font-size: 3.75rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
  align-self: center;
}
.header-content .left-header .image {
  height: 560px;
  position: relative;
}
.header-content .left-header .image img {
  height: 100%;
  border-radius: 20px;
}
.header-content .right-header {
  color: var(--color-secondary-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-content .right-header .name {
  font-size: 4rem;
}
.header-content .right-header span {
  color: var(--color-font);
  font-family: "Whisper", cursive;
  font-size: 140px;
  font-weight: 500;
}
.header-content .right-header span .uppercase {
  margin-left: 0;
  font-size: 180px;
  margin-right: 4px;
}
.header-content .right-header span .uppercase.surname {
  font-family: "Allura", cursive;
  font-size: 160px;
  margin-right: 2px;
}
.header-content .right-header .name.subtext {
  font-size: 2.9rem;
  text-align: center;
  line-height: 4.2rem;
}
.header-content .right-header .main-btn {
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid var(--color-button);
  display: flex;
  align-self: center;
  align-items: center;
  overflow: hidden;
  margin: 2rem 0;
  position: relative;
}
.header-content .right-header .main-btn .btn-text,
.header-content .right-header .main-btn .btn-icon {
  color: var(--color-font);
  font-size: 1.1rem;
}
.header-content .right-header .main-btn .btn-text {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  padding: 0 1.4rem 0 2rem;
  color: var(--color-font);
  font-size: 1.2rem;
}
.header-content .right-header .main-btn .btn-icon {
  background-color: var(--color-button);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.header-content .right-header .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  border-radius: 30px;
}
.header-content .right-header .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: #ff006e;
  transform: translateX(0);
}/*# sourceMappingURL=style.css.map */