* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Light Theme */
:root {
  --color-background: #eae7dd;
  --color-font: #001233;
  --color-button: #ff006e;
  --color-secondary: #efcb68;
  --color-secondary-font: #5c677d;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-background);
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  color: var(--font);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  width: 100%;
  padding: 10px 10%;
  padding-bottom: 0;
}

/*--Navbar--*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .logo {
  color: var(--color-button);
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: 3px;
}
nav ul li {
  display: inline-block;
  margin: 0.62rem 0;
}
nav ul li a {
  color: var(--color-font);
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
}
nav ul li a:hover {
  text-shadow: 1px 1px 12px var(--color-font);
  transform: translateY(-2px);
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--color-button);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
  border-radius: 40px;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li:nth-child(2n) {
  margin: 0 2.5rem;
}

/*--Header-Content--*/
.header-content {
  display: flex;
  gap: 4rem;
}
.header-content .left-header {
  color: var(--color-secondary-font);
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
}
.header-content .left-header .name {
  font-size: 3.6rem;
}
.header-content .left-header span {
  color: var(--color-font);
  font-family: "Whisper", cursive;
  font-size: 10vw;
  font-weight: 500;
  white-space: nowrap;
}
.header-content .left-header span .uppercase {
  margin-left: 0;
  font-size: 12vw;
  margin-right: 4px;
}
.header-content .left-header span .uppercase.surname {
  font-family: "Allura", cursive;
  font-size: 11vw;
  margin-right: 2px;
}
.header-content .left-header .name.subtext {
  font-size: 2.8rem;
  line-height: 4.4rem;
}
.header-content .left-header .main-btn {
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid var(--color-button);
  display: flex;
  align-self: center;
  align-items: center;
  overflow: hidden;
  margin: 2rem;
  position: relative;
}
.header-content .left-header .main-btn .btn-text,
.header-content .left-header .main-btn .btn-icon {
  color: var(--color-font);
  font-size: 1rem;
}
.header-content .left-header .main-btn .btn-text {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  padding: 0 1.2rem 0 2rem;
}
.header-content .left-header .main-btn .btn-icon {
  background-color: var(--color-button);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.7rem;
}
.header-content .left-header .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  border-radius: 30px;
}
.header-content .left-header .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: #ff006e;
  transform: translateX(0);
}
.header-content .right-header {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
.header-content .right-header img {
  height: auto;
  width: 100%;
}

/* Smartphones (portrait) */
/* iPads (portrait and landscape)  */
/* Desktops and laptops  */
@media (max-width: 992px) {
  .header-content {
    flex-direction: column-reverse;
  }
  .header-content .left-header span {
    font-size: 20vw;
  }
  .header-content .left-header span .uppercase {
    font-size: 24vw;
  }
  .header-content .left-header span .uppercase.surname {
    font-size: 22vw;
  }
}
/* Header-Content *//*# sourceMappingURL=style.css.map */